<!--
 File containing url paths to images
 -->
<script>
    var staffImageUrl = "{% static 'images/music_staff.svg' %}"

    var cClefUrl = "{% static 'images/clefs/c_clef.svg' %}"
    var fClefUrl = "{% static 'images/clefs/f_clef.svg' %}"
    var gClefUrl = "{% static 'images/clefs/g_clef.svg' %}"

    var wholeNoteUrl = "{% static 'images/notes/whole/wholeNote-regular.svg' %}"
    var wholeNoteLineUrl = "{% static 'images/notes/whole/wholeNote-line.svg' %}"
    var wholeNoteAboveUrl = "{% static 'images/notes/whole/wholeNote-above.svg' %}"
    var wholeNoteBelowUrl = "{% static 'images/notes/whole/wholeNote-below.svg' %}"

    var noteLineUrl = "{% static 'images/notes/noteLine.svg' %}"

    var flatAccidentalUrl = "{% static 'images/accidentals/flat.svg' %}"
    var naturalAccidentalUrl = "{% static 'images/accidentals/natural.svg' %}"
    var sharpAccidentalUrl = "{% static 'images/accidentals/sharp.svg' %}"

    var pianoKeyboardUrl = "{% static 'images/PianoKeyboard.svg' %}"
</script>